/*

red: #CF1717
blue: #083B66

*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 1rem 0;
    /* top/bottom left/right */
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    line-height: 1.4;
    margin: 1.3rem 0;
}

em {
    font-style: italic;
}

small {
    font-size: 0.8rem;
}

a,
a:link,
a:visited,
a:active {
    font-weight: bold;
    color: black;
}

a:hover {
    color: black;
}

ul {
    margin: 1rem;
    padding-left: 1em;
}

ul>li {
    list-style-type: disc;
    line-height: 1.5;
}

header {
    overflow: hidden;
    padding: 20px 10px;
    border-bottom: 5px solid#CF1717;
}

header a {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
}

.header-left {
    float: left;
    color: #083B66;
}

.header-left>h1 {
    display: none;
}

.header-right {
    float: right;
    display: flex;
    text-align: left;
}

.header-right li {
    display: inline;
    list-style-type: none;
    padding: 10px;
    line-height: 5rem;
}

header a:hover {
    color: #CF1717
}

header a:active {
    color: #CF1717;
}

nav {
    border-top: 5px solid #083B66;
    border-bottom: 5px solid #083B66;
}

nav ul {
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
}

nav li {
    list-style-type: none;
    line-height: 3rem;
    border-bottom: 5px solid #CF1717;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
}

nav ul>li:nth-child(1) {
    border-top: 5px solid #CF1717;
}

nav a {
    text-decoration: none;
    text-align: center;
}

nav li:hover {
    background-color: #083B66;
    color: white;
    text-shadow: 1px;
}

nav li:hover>a {
    color: white;
    text-shadow: 1px;
}

main {
    border-top: 5px solid #CF1717;
    border-bottom: 5px solid #CF1717;
}

footer {
    border-top: 5px solid #083B66;
    font-size: small;
    padding: 10px;
}

footer h2 {
    font-size: small;
}


/* Desktop */

@media only screen and (min-width: 1050px) {
    nav {
        display: flex;
    }
    nav>ul {
        align-items: center;
        margin: auto;
    }
    nav li {
        display: inline;
        border: none;
        padding: 0px 50px 0px 50px;
    }
    nav ul>li:nth-child(1) {
        border: none;
    }
    nav a:hover {
        color: #CF1717;
    }
    nav a:active {
        color: #CF1717;
    }
    nav li:hover {
        background-color: white;
        color: #CF1717;
    }
    nav li:hover>a {
        color: #CF1717;
    }
}